// google fonts
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700|Josefin+Sans:400,700')

// layout
@import "vars.styl"
@import "fonts.styl"
@import "libs.styl"
@import "mixins.styl"
@import "adjustment.styl"
@import "normalize.css"

// styles
@import "/styles/header.styl"
@import "/styles/navigation.styl"
@import "/styles/about.styl"
@import "/styles/services.styl"
@import "/styles/features.styl"
@import "/styles/development.styl"
@import "/styles/footer.styl"

@import "media.styl" // Always at the end