/*.development
    padding-top 210px
    padding-bottom 80px*/

.development-jumbotron
    background-color accent
    position relative
    top -45px
    width 100%
    max-width 667px
    height 0
    padding-bottom 37.3%

.development-jumbotron__title
    font-size 50px
    color #ffffff
    letter-spacing 2.5px
    font-family exo-font
    font-weight 700
    position absolute
    left 50%
    top 20%
    transform: translateX(-50%)