header.header(style="background-image: url(img/header/bg.jpg)")
    .header__composition
        .container
            h1.title Наши сайты заставляют работать ваш бизнес.
            .main-text.header__text
                p.
                    Большинство веб-студий считают окончанием работы загрузку 
                    сайта в интернет. Но почти никто не умеет делать проекты,
                    которые работают и приносят прибыль.
            ul.dignities
                li.dignities__item
                    fieldset.dignities__field
                        legend.dignities__icon
                            i.far.fa-star
                        .dignities__body
                            .dignities__number 518
                            .dignities__text оказанных услуг
                li.dignities__item
                    fieldset.dignities__field
                        legend.dignities__icon
                            i.fas.fa-tasks
                        .dignities__body
                            .dignities__number 345
                            .dignities__text проектов
                li.dignities__item
                    fieldset.dignities__field
                        legend.dignities__icon
                            i.far.fa-gem
                        .dignities__body
                            .dignities__number 218
                            .dignities__text постоянных клиентов